# Ignore Gradle project-specific cache directory
.gradle
.idea

# Ignore Gradle build output directory
build
/templates/
/release-candidate/
gradle/
/rapidlocalhost/cache/
/rapidlocalhost/libraries/
/rapidlocalhost/versions/
/rapidlocalhost/logs/
/rapidlocalhost/world/
/.z_home_grown/
/.z_third_party/
