# Ignore Gradle project-specific cache directory
.gradle
.idea

# Ignore Gradle build output directory
build
gradle/
/dev-build
/dev/
/rapidlocalhost/cache/
/rapidlocalhost/libraries/
/rapidlocalhost/versions/
/rapidlocalhost/logs/
/rapidlocalhost/world/